.container-patient-information{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.container-patient-information img {
    height: 10rem;
    border-radius: 60%;
    width: 10rem;
}



.group_personal_information_patient{
    display: flex;
    gap: 50px;
}

.patient_input_disabled{
    height: 6vh;
    width: 10vw;
    border-radius: 0px;
    border-bottom: 1px solid  gray;
}

